<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net462" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net48" />
  <package id="Castle.Windsor" version="5.0.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net48" />
  <package id="EntityFramework6.Npgsql" version="6.4.1" targetFramework="net48" />
  <package id="FluentValidation" version="8.6.2" targetFramework="net48" />
  <package id="Iesi.Collections" version="4.0.4" targetFramework="net462" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.ApplicationInsights" version="2.13.1" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net462" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.13.1" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.Log4NetAppender" version="2.13.1" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.13.1" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.13.1" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.13.1" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.13.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="NHibernate" version="5.2.7" targetFramework="net48" />
  <package id="Npgsql" version="4.1.3.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net48" />
  <package id="Remotion.Linq.EagerFetching" version="2.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>