<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <!--Clear is needed because there is always a SQLExpress default connection.-->
    <clear />
    <!-- The username and password provided in this file are for developer convenience when
         using one of the prescribed Docker-based development environments. These values should
         not be used in staging or production systems. -->
    <add name="EdFi_Admin"
         connectionString="Host=localhost; Port=5432; Username=postgres; Database=EdFi_Admin; Application Name=EdFi.Ods.WebApi;"
         providerName="Npgsql" />
    <add name="EdFi_Security"
         connectionString="Host=localhost; Port=5432; Username=postgres; Database=EdFi_Security; Application Name=EdFi.Ods.WebApi;"
         providerName="Npgsql" />
    <add name="EdFi_master"
         connectionString="Host=localhost; Port=5432; Username=postgres; Database=postgres; Application Name=EdFi.Ods.SandboxAdmin.Web;"
         providerName="Npgsql" />
    <add name="EdFi_Ods"
         connectionString="Host=localhost; Port=5432; Username=postgres; Database=EdFi_{0}; Application Name=EdFi.Ods.WebApi;"
         providerName="Npgsql" />
  </connectionStrings>
  <entityFramework xdt:Transform="Replace">
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <system.data xdt:Transform="InsertAfter(/configuration/entityFramework)">
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider"
           invariant="Npgsql"
           description=".Net Data Provider for PostgreSQL"
           type="Npgsql.NpgsqlFactory, Npgsql"
           support="FF" />
    </DbProviderFactories>
  </system.data>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect"
                xdt:Transform="Replace"
                xdt:Locator="Match(name)">
        NHibernate.Dialect.PostgreSQL83Dialect
      </property>
      <property name="connection.driver_class"
                xdt:Transform="Replace"
                xdt:Locator="Match(name)">
        NHibernate.Driver.NpgsqlDriver
      </property>
    </session-factory>
  </hibernate-configuration>
  <appSettings>
    <add key="databaseTemplate:minimalTemplateScript" value="PostgreSQLMinimalTemplate" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="databaseTemplate:populatedTemplateScript" value="PostgreSQLPopulatedTemplate" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Microsoft.ServiceBus.X509RevocationMode" xdt:Transform="Remove" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
