<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <clear />
    <add name="EdFi_Admin"
         connectionString="Host=localhost; Port=5432; Username=postgres; Database=EdFi_Admin; Application Name=EdFi.Ods.SandboxAdmin.Web;"
         providerName="Npgsql" />
    <add name="EdFi_Security"
         connectionString="Host=localhost; Port=5432; Username=postgres; Database=EdFi_Security; Application Name=EdFi.Ods.SandboxAdmin.Web;"
         providerName="Npgsql" />
    <add name="EdFi_master"
         connectionString="Host=localhost; Port=5432; Username=postgres; Database=postgres; Application Name=EdFi.Ods.SandboxAdmin.Web;"
         providerName="Npgsql" />
    <add name="EdFi_Ods"
         connectionString="Host=localhost; Port=5432; Username=postgres; Database=EdFi_{0}; Application Name=EdFi.Ods.SandboxAdmin.Web;"
         providerName="Npgsql" />
  </connectionStrings>

  <entityFramework xdt:Transform="Replace">
    <providers>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <system.data xdt:Transform="InsertAfter(/configuration/entityFramework)">
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider"
           invariant="Npgsql"
           description=".Net Data Provider for PostgreSQL"
           type="Npgsql.NpgsqlFactory, Npgsql"
           support="FF" />
    </DbProviderFactories>
  </system.data>
</configuration>
