@charset "UTF-8";

/* Login Dialog */
#loginModal input[type="password"],
#loginModal input[type="email"],
#loginModal input[type="text"] {
    width: 100%;
    display: block;
}

#loginModal .action-row button {
    margin-right: 25px;
}

#loginModal input[type="checkbox"] + label {
    margin-left: 7px;
}

#loginModal .tab-pane {
    padding-top: 10px;
}

.control-row {
    margin-top: 15px;
}

.navbar-lite div.edfilogo {
  border: 0;
/*ignore jslint start*/
  font: 0/0 a;
/*ignore jslint end*/
  text-shadow: none;
  color: transparent;
  background: url('../images/EdFi-logo-Powered-60.png');
  width: 118px;
  height: 60px;
}

/* BEGIN MODIFICATIONS TO BOOTSTRAP FLATLY THEME */

.navbar-lite {
	background-color: #ecf0f1;
	color: #2c3e50;
}

.navbar-lite .navbar-nav > li > a {
	color: #2c3e50;
}

.navbar-lite .navbar-nav > li > a:hover {
	color: #18bc9c;
}

.navbar-lite .navbar-brand {
  padding: inherit;
}

/*nEEDED?*/
.navbar-lite .navbar-nav > .dropdown > a:hover .caret,
.navbar-lite .navbar-nav > .dropdown > a:focus .caret  {
  border-top-color: #18bc9c;
  border-bottom-color: #18bc9c;
}

.navbar-lite .navbar-nav > .dropdown > a .caret {
  border-top-color: #2c3e50;
  border-bottom-color: #2c3e50;
}

/* END MODIFICATIONS TO BOOTSTRAP FLATLY THEME */

.dialog-footer-icon {
    font-size: 28px;
    margin-top: 7px;
}

#clients-table td {
    vertical-align: middle;
}