<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <initialization enabled="true" xdt:Transform="Replace">
    <users>
      <add name="Test Admin" email="{ACCOUNT_EMAIL}" password="{ACCOUNT_PASSWORD}" admin="true">
        <sandboxes>
          <sandbox name="Populated Sandbox" key="populatedSandbox" secret="{POPULATED_SECRET}" type="Sample"/>
          <sandbox name="Minimal Sandbox" key="minimalSandbox" secret="{MINIMAL_SECRET}" type="Minimal"/>
        </sandboxes>
      </add>
    </users>
  </initialization>
</configuration>