<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--Change the URLs to point to the API endpoint and the admin endpoint for your environment.-->
  <appSettings>
    <add key="swagger.webApiMetadataUrl" value="#{WebApiBaseUrl}/metadata" xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
    <add key="swagger.webApiVersionUrl" value="#{WebApiBaseUrl}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="swagger.prepopulatedKey" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)" />
    <add key="swagger.prepopulatedSecret" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)" />
    <add key="swagger.prepopulatedKey" value="#{WebSwaggerPrepopulatedKey}" xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
    <add key="swagger.prepopulatedSecret" value="#{WebSwaggerPrepopulatedSecret}" xdt:Transform="Replace"
         xdt:Locator="Match(key)" />
  </appSettings>
  #{if WebSwaggerRedirectHttp}
  <system.webServer xdt:Transform="Insert">
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  #{/if}

</configuration>