/*
SPDX-License-Identifier: Apache-2.0
Licensed to the Ed-Fi Alliance under one or more agreements.
The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
See the LICENSE and NOTICES files in the project root for more information.
*/

/* centers the progress element */
#progress {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

/* improve default link hovering */
a {
  transition: color 0.5s ease-in;
}

a:hover {
  color: #1f69c0;
  transition: color 0.1s ease-out;
}

/* reduces spacing between rows */
.row {
  margin-bottom: 5px;
}

/* adds the fade in animation for most elements */
.section,
.col,
.row,
#sections {
  -webkit-animation: fadein 0.5s ease-out;
  -moz-animation: fadein 0.5s ease-out;
  -ms-animation: fadein 0.5s ease-out;
  -o-animation: fadein 0.5s ease-out;
  animation: fadein 0.5s ease-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#cautionTitle {
  font-style: italic !important;;
  color: #3b4151;
  font-family: sans-serif !important;;
  font-size: 14px;
  border-left: 0px;
  box-sizing: inherit;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center !important;;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1460px;
  padding: 0 20px;
  width: 100%;
}
