<?xml version="1.0" encoding="utf-8"?>
<!--
  This should be a properly formatted Web.config file with <configuration> and <connectionStrings> elements.
  -->
<configuration>
  <connectionStrings>
    <add name="EdFi_Admin" connectionString="Host=localhost; Port=5432; Username=postgres; Database=EdFi_Admin; Application Name=EdFi.Ods.WebApi;" providerName="Npgsql" />
    <add name="EdFi_Security" connectionString="Host=localhost; Port=5432; Username=postgres; Database=EdFi_Security; Application Name=EdFi.Ods.WebApi;" providerName="Npgsql" />
    <add name="EdFi_Ods" connectionString="Host=localhost; Port=5432; Username=postgres; Database=EdFi_{0}; Application Name=EdFi.Ods.WebApi;" providerName="Npgsql" />
  </connectionStrings>
  <appSettings>
    <add key="databaseTemplate:minimalTemplateScript" value="PostgreSQLMinimalTemplate" />
    <add key="databaseTemplate:populatedTemplateScript" value="PostgreSQLPopulatedTemplate" />
    <add key="ExcludedExtensionSources" value="Homograph,Sample,Grandbend" />
    <add key="extensions:featureIsEnabled" value="true" />
    <add key="userInfo:featureIsEnabled" value="true" />
    <add key="changeQueries:featureIsEnabled" value="false" />
  </appSettings>
</configuration>
