<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="EdFi_Ods" connectionString="#{OdsDbConnStr}" providerName="System.Data.SqlClient" />
    <add name="EdFi_Admin" connectionString="#{AdminDbConnStr}" providerName="System.Data.SqlClient" />
    <add name="EdFi_Security" connectionString="#{SecurityDbConnStr}" providerName="System.Data.SqlClient" />
    <add name="EdFi_master" connectionString="#{MasterDbConnStr}" providerName="System.Data.SqlClient" />
    <add name="EduIdContext" connectionString="#{EduIdDbConnStr}" providerName="System.Data.SqlClient" />
    <add name="UniqueIdIntegrationContext" connectionString="#{UniqueIdDbConnStr}" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>
