<?xml version="1.0" encoding="utf-8"?>
<!--
  This should be a properly formatted Web.config file with <configuration> and <connectionStrings> elements.
  -->
<configuration>
  <connectionStrings>
    <add name="EdFi_Ods" connectionString="Database=EdFi_{0}; Data Source=(local); Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="EdFi_Admin" connectionString="Database=EdFi_Admin; Data Source=(local); Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="EdFi_Security" connectionString="Database=EdFi_Security; Data Source=(local); Persist Security Info=True; Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="EdFi_master" connectionString="Database=master; Data Source=(local); Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="EduIdContext" connectionString="Data Source=(local);Initial Catalog=EduID_Db;Trusted_Connection=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="UniqueIdIntegrationContext" connectionString="Data Source=(local);Database=UniqueId;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="plugin:folder" value="./Ed-Fi-ODS-Implementation/Plugin" />
    <add key="plugin:script" value="development" />
    <add key="databaseTemplate:minimalTemplateScript" value="EdFiMinimalTemplate" />
    <add key="databaseTemplate:populatedTemplateScript" value="GrandBend" />
    <add key="ExcludedExtensionSources" value="Homograph,Sample,Grandbend" />
    <add key="extensions:featureIsEnabled" value="true" />
    <add key="tokenInfo:featureIsEnabled" value="true" />
    <add key="changeQueries:featureIsEnabled" value="false" />
  </appSettings>
</configuration>
